/* This CSS resource incorporates links to font software which is the
   valuable copyrighted property of Type Network, Inc. and/or their
   suppliers. You may not attempt to copy, install, redistribute,
   convert, modify or reverse engineer this font software. Please
   contact Type Network with any questions: www.typenetwork.com */

  
@font-face {
font-family: "Apres RE";
font-weight: normal; 
font-style: normal; 
font-display: swap; 


src: url("//cloud.typenetwork.com/projectLicenseWeb/27504/fontfile/eot/?69a02fba91e6d2dbfefa057288f1dc4fa8f4c3a9");
src: url("//cloud.typenetwork.com/projectLicenseWeb/27504/fontfile/eot/?69a02fba91e6d2dbfefa057288f1dc4fa8f4c3a9#iefix") format("embedded-opentype"),
     url("//cloud.typenetwork.com/projectLicenseWeb/27504/fontfile/woff2/?69a02fba91e6d2dbfefa057288f1dc4fa8f4c3a9") format("woff2"),
     url("//cloud.typenetwork.com/projectLicenseWeb/27504/fontfile/woff/?69a02fba91e6d2dbfefa057288f1dc4fa8f4c3a9") format("woff");

}
		
	 
@font-face {
font-family: "Turnip RE Bd";
font-weight: normal; 
font-style: normal; 
font-display: swap; 


src: url("//cloud.typenetwork.com/projectLicenseWeb/27502/fontfile/eot/?69a02fba91e6d2dbfefa057288f1dc4fa8f4c3a9");
src: url("//cloud.typenetwork.com/projectLicenseWeb/27502/fontfile/eot/?69a02fba91e6d2dbfefa057288f1dc4fa8f4c3a9#iefix") format("embedded-opentype"),
     url("//cloud.typenetwork.com/projectLicenseWeb/27502/fontfile/woff2/?69a02fba91e6d2dbfefa057288f1dc4fa8f4c3a9") format("woff2"),
     url("//cloud.typenetwork.com/projectLicenseWeb/27502/fontfile/woff/?69a02fba91e6d2dbfefa057288f1dc4fa8f4c3a9") format("woff");

}
		
	 
@font-face {
font-family: "Turnip RE";
font-weight: normal; 
font-style: normal; 
font-display: swap; 


src: url("//cloud.typenetwork.com/projectLicenseWeb/27500/fontfile/eot/?69a02fba91e6d2dbfefa057288f1dc4fa8f4c3a9");
src: url("//cloud.typenetwork.com/projectLicenseWeb/27500/fontfile/eot/?69a02fba91e6d2dbfefa057288f1dc4fa8f4c3a9#iefix") format("embedded-opentype"),
     url("//cloud.typenetwork.com/projectLicenseWeb/27500/fontfile/woff2/?69a02fba91e6d2dbfefa057288f1dc4fa8f4c3a9") format("woff2"),
     url("//cloud.typenetwork.com/projectLicenseWeb/27500/fontfile/woff/?69a02fba91e6d2dbfefa057288f1dc4fa8f4c3a9") format("woff");

}
		
	 
@font-face {
font-family: "Salvo Serif Cond Lt";
font-weight: normal; 
font-style: normal; 
font-display: swap; 


src: url("//cloud.typenetwork.com/projectLicenseWeb/27509/fontfile/eot/?69a02fba91e6d2dbfefa057288f1dc4fa8f4c3a9");
src: url("//cloud.typenetwork.com/projectLicenseWeb/27509/fontfile/eot/?69a02fba91e6d2dbfefa057288f1dc4fa8f4c3a9#iefix") format("embedded-opentype"),
     url("//cloud.typenetwork.com/projectLicenseWeb/27509/fontfile/woff2/?69a02fba91e6d2dbfefa057288f1dc4fa8f4c3a9") format("woff2"),
     url("//cloud.typenetwork.com/projectLicenseWeb/27509/fontfile/woff/?69a02fba91e6d2dbfefa057288f1dc4fa8f4c3a9") format("woff");

}
		
	 
@font-face {
font-family: "Salvo Serif Cond Bd";
font-weight: normal; 
font-style: normal; 
font-display: swap; 


src: url("//cloud.typenetwork.com/projectLicenseWeb/27508/fontfile/eot/?69a02fba91e6d2dbfefa057288f1dc4fa8f4c3a9");
src: url("//cloud.typenetwork.com/projectLicenseWeb/27508/fontfile/eot/?69a02fba91e6d2dbfefa057288f1dc4fa8f4c3a9#iefix") format("embedded-opentype"),
     url("//cloud.typenetwork.com/projectLicenseWeb/27508/fontfile/woff2/?69a02fba91e6d2dbfefa057288f1dc4fa8f4c3a9") format("woff2"),
     url("//cloud.typenetwork.com/projectLicenseWeb/27508/fontfile/woff/?69a02fba91e6d2dbfefa057288f1dc4fa8f4c3a9") format("woff");

}
		
	 
@font-face {
font-family: "Apres RE Bd It";
font-weight: normal; 
font-style: italic; 
font-display: swap; 


src: url("//cloud.typenetwork.com/projectLicenseWeb/27507/fontfile/eot/?69a02fba91e6d2dbfefa057288f1dc4fa8f4c3a9");
src: url("//cloud.typenetwork.com/projectLicenseWeb/27507/fontfile/eot/?69a02fba91e6d2dbfefa057288f1dc4fa8f4c3a9#iefix") format("embedded-opentype"),
     url("//cloud.typenetwork.com/projectLicenseWeb/27507/fontfile/woff2/?69a02fba91e6d2dbfefa057288f1dc4fa8f4c3a9") format("woff2"),
     url("//cloud.typenetwork.com/projectLicenseWeb/27507/fontfile/woff/?69a02fba91e6d2dbfefa057288f1dc4fa8f4c3a9") format("woff");

}
		
	 
@font-face {
font-family: "Apres RE It";
font-weight: normal; 
font-style: italic; 
font-display: swap; 


src: url("//cloud.typenetwork.com/projectLicenseWeb/27505/fontfile/eot/?69a02fba91e6d2dbfefa057288f1dc4fa8f4c3a9");
src: url("//cloud.typenetwork.com/projectLicenseWeb/27505/fontfile/eot/?69a02fba91e6d2dbfefa057288f1dc4fa8f4c3a9#iefix") format("embedded-opentype"),
     url("//cloud.typenetwork.com/projectLicenseWeb/27505/fontfile/woff2/?69a02fba91e6d2dbfefa057288f1dc4fa8f4c3a9") format("woff2"),
     url("//cloud.typenetwork.com/projectLicenseWeb/27505/fontfile/woff/?69a02fba91e6d2dbfefa057288f1dc4fa8f4c3a9") format("woff");

}
		
	 
@font-face {
font-family: "Apres RE Bd";
font-weight: normal; 
font-style: normal; 
font-display: swap; 


src: url("//cloud.typenetwork.com/projectLicenseWeb/27506/fontfile/eot/?69a02fba91e6d2dbfefa057288f1dc4fa8f4c3a9");
src: url("//cloud.typenetwork.com/projectLicenseWeb/27506/fontfile/eot/?69a02fba91e6d2dbfefa057288f1dc4fa8f4c3a9#iefix") format("embedded-opentype"),
     url("//cloud.typenetwork.com/projectLicenseWeb/27506/fontfile/woff2/?69a02fba91e6d2dbfefa057288f1dc4fa8f4c3a9") format("woff2"),
     url("//cloud.typenetwork.com/projectLicenseWeb/27506/fontfile/woff/?69a02fba91e6d2dbfefa057288f1dc4fa8f4c3a9") format("woff");

}
		
	 
@font-face {
font-family: "Turnip RE Bd It";
font-weight: normal; 
font-style: italic; 
font-display: swap; 


src: url("//cloud.typenetwork.com/projectLicenseWeb/27503/fontfile/eot/?69a02fba91e6d2dbfefa057288f1dc4fa8f4c3a9");
src: url("//cloud.typenetwork.com/projectLicenseWeb/27503/fontfile/eot/?69a02fba91e6d2dbfefa057288f1dc4fa8f4c3a9#iefix") format("embedded-opentype"),
     url("//cloud.typenetwork.com/projectLicenseWeb/27503/fontfile/woff2/?69a02fba91e6d2dbfefa057288f1dc4fa8f4c3a9") format("woff2"),
     url("//cloud.typenetwork.com/projectLicenseWeb/27503/fontfile/woff/?69a02fba91e6d2dbfefa057288f1dc4fa8f4c3a9") format("woff");

}
		
	 
@font-face {
font-family: "Turnip RE It";
font-weight: normal; 
font-style: italic; 
font-display: swap; 


src: url("//cloud.typenetwork.com/projectLicenseWeb/27501/fontfile/eot/?69a02fba91e6d2dbfefa057288f1dc4fa8f4c3a9");
src: url("//cloud.typenetwork.com/projectLicenseWeb/27501/fontfile/eot/?69a02fba91e6d2dbfefa057288f1dc4fa8f4c3a9#iefix") format("embedded-opentype"),
     url("//cloud.typenetwork.com/projectLicenseWeb/27501/fontfile/woff2/?69a02fba91e6d2dbfefa057288f1dc4fa8f4c3a9") format("woff2"),
     url("//cloud.typenetwork.com/projectLicenseWeb/27501/fontfile/woff/?69a02fba91e6d2dbfefa057288f1dc4fa8f4c3a9") format("woff");

}
		
	 
@font-face {
font-family: "Salvo Serif Cond";
font-weight: normal; 
font-style: normal; 
font-display: swap; 


src: url("//cloud.typenetwork.com/projectLicenseWeb/27511/fontfile/eot/?69a02fba91e6d2dbfefa057288f1dc4fa8f4c3a9");
src: url("//cloud.typenetwork.com/projectLicenseWeb/27511/fontfile/eot/?69a02fba91e6d2dbfefa057288f1dc4fa8f4c3a9#iefix") format("embedded-opentype"),
     url("//cloud.typenetwork.com/projectLicenseWeb/27511/fontfile/woff2/?69a02fba91e6d2dbfefa057288f1dc4fa8f4c3a9") format("woff2"),
     url("//cloud.typenetwork.com/projectLicenseWeb/27511/fontfile/woff/?69a02fba91e6d2dbfefa057288f1dc4fa8f4c3a9") format("woff");

}
